# Import Libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#

# Data Collection & Preprocessing

In [8]:
raw_mail_data=pd.read_csv('mail_data.csv')

In [9]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
raw_mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [12]:
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [13]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
mail_data.shape

(5572, 2)

In [16]:
mail_data['Category'].replace({'spam':0,'ham':1},inplace=True)

In [17]:
mail_data

      Category                                            Message
0            1  Go until jurong point, crazy.. Available only ...
1            1                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            1  U dun say so early hor... U c already then say...
4            1  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         1               Will ü b going to esplanade fr home?
5569         1  Pity, * was in mood for that. So...any other s...
5570         1  The guy did some bitching but I acted like i'd...
5571         1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [29]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   int64
 1   Message   5572 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

#

# Separating Features & Target variable

In [18]:
x=mail_data['Message']
y=mail_data['Category']

In [20]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [21]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

#

# Creating Train & Test Data

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
print(x_train.shape)
print(x_test.shape)

(4457,)
(1115,)

### Using TfidfVectorizer

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [31]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [32]:
x_train=feature_extraction.fit_transform(x_train)
x_test=feature_extraction.transform(x_test)

In [35]:
print(x_train)

  (0, 5818)	0.22682143517864364
  (0, 2497)	0.2442158912653505
  (0, 694)	0.3171299579602537
  (0, 6264)	0.1898892037332199
  (0, 5800)	0.17558937755823417
  (0, 3262)	0.33791755486732394
  (0, 2049)	0.3034375179183143
  (0, 7300)	0.24288153842988894
  (0, 2724)	0.3544175987866074
  (0, 354)	0.3544175987866074
  (0, 7162)	0.2550284465664535
  (0, 258)	0.2379428657041507
  (0, 7222)	0.2173884735352799
  (0, 5512)	0.1898892037332199

#

# Model Training

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
model=LogisticRegression()

In [38]:
model.fit(x_train,y_train)

LogisticRegression()

In [39]:
train_pred=model.predict(x_train)

# Performance Evalution

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
accuracy_score(y_train,train_pred)

0.9661207089970832

In [42]:
test_pred=model.predict(x_test)

In [44]:
accuracy_score(y_test,test_pred)

0.967713004484305

# Building Predictive System

In [66]:
test_query=mail_data["Message"].iloc[2]

In [67]:
input_data=feature_extraction.transform([test_query])
print(input_data)

  (0, 7261)	0.18885497248732452
  (0, 7222)	0.14754877016084134
  (0, 6824)	0.12590140889987494
  (0, 6660)	0.22935585693940033
  (0, 6544)	0.12262403456818831
  (0, 6240)	0.19610159059832633
  (0, 5425)	0.16866753321368275
  (0, 5372)	0.1697099379208586
  (0, 5325)	0.17560894991626927
  (0, 2867)	0.1144856495406048
  (0, 2740)	0.19346908088312295
  (0, 2641)	0.4811099684715865
  (0, 2524)	0.3597333210201512
  (0, 2049)	0.2059531117791281
  (0, 1859)	0.19346908088312295
  (0, 1001)	0.1707932315273253
  (0, 690)	0.22140994966932728
  (0, 362)	0.22935585693940033
  (0, 353)	0.22935585693940033
  (0, 72)	0.24055498423579325

In [68]:
prediction=model.predict(input_data)

if prediction==1:
    print('ham mail')
else:
    print('spam mail')

spam mail

[1]